.tone-id-div {
    background-color: #00a99d;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.emoji-box {
    display: flex;
    color: white;
}

.sentence-result {
    display: flex;
    justify-content: space-between;
}

.score-container {
    display: flex;
}

main {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.tone-id {
    text-transform: capitalize;
    font-family: Francois One;
}

.result-item-flex {
    display: flex;
    background-color: #eee;
    border-radius: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 35px;
}

.body {
    color: rgb(71, 71, 71);
    padding: 30px;
    margin: 0;
}

.sentence-result-button {
    align-content: center;
    margin-top: 20px;
    padding: 10px 20px;
    width: 200px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    background-color: #f38d52;
}

.button-container {
    display: flex;
    justify-content: center;
}