.tone-id-div {
    background-color: #00a99d;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 60px;
}

/* .emoji-box {
    display: flex;
    justify-items: center;
    align-items: center;
    color: white;
} */

.sentence-result {
    display: flex;
    justify-content: space-between;
}

.score-container {
    display: flex;
}

main {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.tone-id {
    text-transform: capitalize;
    font-family: Francois One;
    margin: 0;
    color: white;
}

.result-item-flex {
    display: flex;
    background-color: #eee;
    border-radius: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 35px;
}

.body {
    color: rgb(71, 71, 71);
    padding: 30px;
    margin: 0;
}

.sentence-result-button {
    align-content: center;
    margin-top: 20px;
    padding: 10px 20px;
    width: 200px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    background-color: #f38d52;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
}

.emoji {
    font-size: 25px;
    margin-left: 10px;
}

.tone-id-sentence {
    color: black;
    text-transform: capitalize;
}

.sentence-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score-container {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

.max-width {
    max-width: 675px;
    margin-right: 50px;
    /* flex-grow: 1; */
    /* overflow-wrap: 50car; */
}

@media only screen and (max-width: 650px) {
    .emoji-box {display: flex; flex-direction: column; justify-items: center;}
    .emoji {margin: 0;}
    .tone-id {margin-top: 5px;}
    .score-container {display: flex; flex-direction: column; align-items: center;}
    .tone-id-sentence {margin:0px;}
    .results-sentence: {flex-grow: 1;}
}