.color-rectangles {
    width: 25px;
    height: 8px;
    display: inline-block;
    border-radius: 2px;
    opacity: 0.25;
    margin-left: 8px;
    margin-right: 8px;
}

h3 {
    font-family: Francois One;
    color: #426da9;
    margin-top: 50px;
}

.tone-keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}