#legend {
    display: flex;
    background-color: #00a99d;
    border-radius: 10px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
}

.legend-item {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.emoji {
    font-size: 40px;
    margin: 0;
    padding-left: 20px;
    padding-top: 5px;
}

.tone-id {
    text-transform: capitalize;
}