* {
    box-sizing: border-box;
}

header {
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #00a99d;
    font-family: Francois One;
    font-size: 24px;
}

.loading-container {
    position: absolute;
    top: 45%;
    left: 45%;
    margin: -50px 0px 0px -50px;
    opacity: 0.85;
    }

.loading-image {
    height: 90%;
    width: 90%;
}

nav a:hover {
    color: #f38d52;
}

main {
    padding-top: 50px;
}

#blurb-area {
    text-align: center;
    width: 70%;
    max-width: 750px;
    margin: 0 auto 40px;
}

.blurb-p {
    margin-bottom: 0px;
}

#blurb-area-tester {
    text-align: center;
    width: 70%;
    max-width: 750px;
    margin: 0 auto 40px;
    margin-bottom: 0px;
}

header img {
    width: 200px;
}

p {
    font-family: Heebo;
}

h2 {
    font-family: Francois One;
    color: #426da9;
}

.form-container {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 35%;
    max-width: 535px;
    min-width: 275px;
    padding: 40px 50px;
    background-color: #00a99d;
    font-size: 14px;
    color: white;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sign-up, #log-out, #analyze-button {
    align-self: center;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    width: 100px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    background-color: #f38d52;
}

.switch {
    text-align: center;
}

#signin-button, #signup-button {
    margin-top: 20px;
    padding: 8px 15px;
    width: 200px;
    border-radius: 8px;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    background-color: #426da9;
}

#signin-button:hover, #signup-button:hover {
    box-shadow: 1px 1px 2px #667;
}

#log-out {
    margin-top: 0;
    width: 125px;
}

#analyze-button {
    width: 300px;
    display: block;
    margin: 20px auto;
}

.sign-up:hover, #log-out:hover, #analyze-button:hover {
    box-shadow: 1px 1px 2px #667;
}

label {
    padding-bottom: 8px;
    display: inline-block;
}

form input {
    width: 95%;
    margin: 0 auto;
    height: 25px;
    border-radius: 6px;
    border: 0;
    padding: 8px;
    font-family: Heebo;
}

form h2 {
    margin: 0;
    color: white;
}

#message-input, #results-section, #sentence-results-box {
    width: 70%;
    margin: 0 auto 50px; 
    text-align: center;
}

textarea {
    width: 100%;
    height: 200px;
    overflow: scroll;
    border-radius: 8px;
    border: 1px solid #00a99d;
    font-size: 18px;
    padding: 8px;
    margin-top: 75px;
}

footer {
    background-color: #00a99d;
    font-family: Heebo;
    font-weight: 700;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; 
    left: 0;
}

.no-display {
    display: none;
}

#log-out.no-display{
    display: none;
}

.errors {
    font-family: monospace;
    text-align: center;
    margin-top: 15px;
}

#legend {
    display: flex;
    background-color: #00a99d;
    border-radius: 10px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
}

.legend-item {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.emoji {
    font-size: 40px;
    margin: 0;
    padding-left: 20px;
    padding-top: 5px;
}

#sentence-results {
    margin-top: 25px;
    margin-bottom: 100px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #00a99d;
    font-size: 18px;
    padding: 20px;
    font-family: Heebo;
    text-align: left;
}

.tone-id {
    text-transform: capitalize;
}

#message {
    margin-top: 0px;
}

.blurb-h2 {
    margin-top: 50px;
}

.emoji-box {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 650px) {
    header {flex-direction: column;}
    h2 {margin-top: 0px;}
    nav {display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;}
    nav a {margin-left: 0px;
        font-size: 20px;}
    #log-out {margin-top: 15px;
        padding: 6px 15px;}
    footer {position: fixed;
        margin-top: 50px;}
    main {padding-top: 20px;}
    #signup-button {width: 175px;}
    #signin-button {width: 175px;}
    #analyze-button {width: 220px;}
    .loading-image {height: 50%; width: 50%;}
    .loading-container {left: 35%; top: 75%;}
    #message {margin-top: 35px;}
    p.tone-id {font-size: 14px; margin-bottom: 0;}
    .emoji-box {display: flex; flex-direction: column;}
}